/*
   application.css
   MSO-Book-Review
   
   Created by Stefan Diesing on 2011-01-31.
   Copyright 2011 Stefan Diesing. All rights reserved.


	Designed for Safari 3 and Opera 11
*/


body {
	background: #d67200;
	font-family: "Lucida Grande", "Helvetica New";
	font-size: 16px;
}

#banner {
	margin:30px 0px;
	width: 1000px;
	height: 200px;
	margin-right:auto;
	margin-left:auto;
	background: url(../images/header.png);
	overflow: hidden;
	border-radius: 5px 15px 5px 15px;
}

#banner a {
	color: #fff;
	text-decoration: none;
}

#banner a:hover {
	color: #ccf;
	text-decoration: underline;
}

#header {
	color: #fff;
	height:140px;
	padding: 5px 0px;
	cursor: pointer;
}

#header h1{
	margin: 0px;
	font-size: 100px;
}

#nav {
	height:50px;
	font-size: 24px;
	vertical-align: middle;
	margin-right:auto;
	margin-left:auto;
	background: rgba(137,72,11,0.7);
	border-radius: 0px 0px 5px 15px;
}

#nav ul {
	height: 50px;
	margin: 0px;
	display: inline;
	vertical-align: middle;
}

#nav li {
	line-height: 50px;
	width: 100px;
	margin: 0px;
	list-style: none;
	display: inline;
	vertical-align: middle;
}

#main {
	width: 920px;
	margin-right:auto;
	margin-left:auto;
	background: #fff;
	border-radius: 15px;
	overflow: hidden;
}

#main img.cover{
	float: right;
	margin: 5px;
	margin-right: 20px;
	height: 250px;
}

#content{
	float: left;
	width: 640px;
	min-height: 300px;
	padding: 5px 15px;
	margin 0px;
}

#content a{
	color: rgb(0,0,0);
	text-decoration: none;
}

#content a.action{
	color: rgb(150,150,150);
	font-style: italic;
}

#content a:hover{
	color: rgb(150,150,150);
	text-decoration: underline;
}

#notice{
	width: 600px;
	padding:10px;
	margin: 10px;
	background: #2f2;
	text-align: center;
	border-radius: 5px;
}

#top{
	min-height: 250px;
}

.prev {
	margin: 5px 10px;
	width: 595px;
	overflow:hidden;
	height: 100px;
	cursor: pointer;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.prev:hover {
	background: #ddf;
}

.prev .info{
	padding: 5px 10px;
	width: 480px;
	float: right;
}

.prev .info a{
	text-decoration: none;
	color: #000;
}

.prev .info b	{
	font-size: 20px;
	margin-bottom: 10px; 
}

.prev .thumbnail {
	float: left;
	height: 100px;
	width: 90px;
	background: #fff;
	border-right: 5px solid rgb(187,124,54);
	text-align: center;
	overflow: hidden;
}

.prev:hover .thumbnail {
	border-right: 5px solid rgb(137,72,11);
}

.prev .thumbnail img{
	height: 100px;
	text-align: center;
}

.prev_small {
	width: 560px;
	margin: 2px 10px;
	border-radius: 15px;
	height: 20px;
	padding: 2px 10px;
	overflow:hidden;
	cursor: pointer;
}

.prev_small:hover {
	background: #ddf;
}

.prev_small a.action {
	visibility: hidden;
}

.prev_small:hover a.action {
	visibility: visible;
}

.section{
	width: 600px;
	padding:5px;
	margin: 10px;
	border-top: 5px solid rgb(187,124,54);
}

.section p.empty{
	text-align:center;
}

div.left_part, div.right_part{
	width: 290px;
	margin: 5px;
	overflow: hidden;
}

div.left_part{
	float: left;
}

div.right_part{
	float: right;
}	

div.left_part div.prev_small, div.right_part div.prev_small{
	width: 200px;
}

.comment_show {
	min-height: 40px;
	border-left: 2px solid rgb(137,72,11);
	padding: 5px;
	margin: 10px 5px;
}

.comment_show i {
	font-size: 10px;
	color: rgb(150,150,150);
}

#sidebar{
	margin 0px;
	color: #fff;
	float: left;
	width: 250px;
	background: rgb(187,124,54);
	border-bottom-left-radius: 15px;
	overflow: hidden;
}

#sidebar a{
	color: #fff;
	text-decoration: none;
}

#sidebar a:hover{
	color: #ccf;
	text-decoration: underline;
}

#sidebar #user_info {
	padding: 5px 10px;
	background: rgb(137,72,11);
	border-bottom-left-radius: 15px;
}

#sidebar #view {
	padding: 5px 10px;
}

#footer {
	width: 920px;
	height: 20px;
	font-size: 12px;
	border-radius: 10px;
	padding: 6px 0px 0px;
	margin: 10px auto;
	text-align:center;
	background: #222;
	color: #fff;
}

#footer a{
	margin: 0px;
	color: #fff;
	text-decoration: none;
}

#footer a{
	color: #ddf;
	text-decoration: underline;
}

/* simple_form */
.simple_form label {
  float: left;
  width: 150px;
  text-align: right;
  margin: 2px 10px;
}

.simple_form div.input {
  margin-bottom: 10px;
	min-width: 400px;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 170px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 170px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}

.simple_form textarea{
	width: 430px;
	height: 120px;
}

.section .simple_form textarea{
	width: 350px;
	height: 120px;
}

div.auto_complete {
	border-radius: 10px;
	max-width: 265px;
	left: 400px;
	margin-top: 35px;
	margin-left: 8px;
	color: #000;
	background: #000;
	border: 5px solid rgba(0,0,0,0.9);
}

div.auto_complete ul {
	border-radius: 5px;
	background: #fff;
	overflow: hidden;
	margin:0;
	padding:0;
  list-style-type:none;
}

div.auto_complete ul li {
	margin:0;
	padding:5px;
	border-bottom: 1px solid #aaa;
	background-color: #fff;
}

div.auto_complete ul li.selected {
	background: #ddf;
	cursor: pointer;
	color: #000;
}

div.auto_complete ul strong.highlight {
	color: #800; 
	margin:0;
	padding:0;
}
